<!--The content below is only a placeholder and can be replaced.-->
<!-- Always shows a header, even in smaller screens. -->


  <main class="mdl-layout__content">
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="userDetail">
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> <a routerLink="/album/user/{{element.id}}">{{element.name}} </a></mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.address.street}} - {{element.address.suite}}, {{element.address.city}} , {{element.address.zipcode}}
          </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </main>
